/* Fonts */

@font-face {
    font-family: Norwester;
    src: url(fonts/norwester.ttf);
}




body {
    background-color: blue;
}

h1 {

}

.container {
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

.card {
    background-color: white;
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
}

.logo {
    margin: 20px auto;
    width: 200px;
}

.text-carousel {
    margin-top: 15px;
}

.text-carousel h2 {
    color: white;
    font-family: Norwester;
    text-transform: lowercase;
}