/* Fonts */

@font-face {
    font-family: Norwester;
    src: url(fonts/norwester.ttf);
}

body {
    background-color: #0040D2;
}
body, a {
    color: white;
    font-family: 'Muli', sans-sarif;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    width: 50%;
}

section img {
    margin: 0 auto;
    max-width: 100%;
}

.card {
    background-color: white;
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
}

.logo {
    margin: 20px auto;
    max-width: 280px;
    width: 80%;
}

.text-carousel {
    margin-top: 15px;
    margin-bottom: 50px;
}

h1 {
    font-size: 2rem;
    /* text-transform: lowercase; */
}

footer {
    margin: 10px auto;
    font-weight: 200;
    font-size: 0.5rem;
    text-align: center;
}

#app-store-badge {
    width: 150px;
}

@media (max-width: 800px) {
    section {
	width: 90%;
    }
}

@media (max-width: 1000px) {
    section {
	width: 70%;
    }
}