/* Fonts */

@font-face {
    font-family: Norwester;
    src: url(fonts/norwester.ttf);
}

body {
    background-color: #0040D2;
}

section {
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

section img {
    margin: 0 auto;
    max-width: 100%;
}

.card {
    background-color: white;
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
}

.logo {
    margin: 20px auto;
    width: 200px;
}

.text-carousel {
    margin-top: 15px;
}

h1 {
    color: white;
    font-family: Norwester;
    text-transform: lowercase;
}

#app-store-badge {
    width: 150px;
}

@media (max-width: 800px) {
    section {
	width: 90%;
    }
}

@media (max-width: 1000px) {
    section {
	width: 70%;
    }
}